<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">reDrect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " id="home" >
        <a class="nav-link" href="/" >Home</a>
      </li>
          <li class="nav-item" id="sobre">
            <a class="nav-link " href="/sobre"  tabindex="-1" >Sobre</a>
          </li>        
      <li class="nav-item" id="encurtar">
        <a class="nav-link " href="/encurtar" tabindex="-1" >Encurtar URL</a>
      </li>
      {{#if user}}
      <li class="nav-item" id="profile">
        <a class="nav-link " href="/profile" tabindex="-1" >{{user.firstName}}</a>
      </li>
      {{else}}
      <li class="nav-item" id="profile">
        <a class="nav-link " href="/profile" tabindex="-1" >Entrar</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<script>
  const page = window.location.href.split('/')[3]
  const home = document.querySelector('#home')
  const sobre = document.querySelector('#sobre')
  const encurtar = document.querySelector('#encurtar')
  const profile = document.querySelector('#profile')
  if(page == ''){
    home.classList.add('active')
  }else if(page === 'sobre'){
    sobre.classList.add('active')
  }else if(page === 'encurtar'){
    encurtar.classList.add('active')
  }else if(page === 'profile'){
    profile.classList.add('active')
  }
</script>