<div class="container">
    <div class="card">
        <div class="card-body">
                <h1 class="card-title">Sobre nós</h1>
                <div class="card-text">
                    <p>Nós encurtams  links para você!</p>
                </div>
        </div>
    </div>
</div>