<head>
    <style>
        small{
            display: block;
            color: rgb(110, 109, 109);
        }
        a{
            color: rgb(63, 56, 56);
        }
    </style>
</head>

<div class="container">
    <header></header>
    <main>
        <div class="jumbotron">
            <h1 class="display-4">Redrect</h1>
            <p class="lead">Você está pensando em encurtar links?<br>Veio ao lugar certo, pretendemos nos tornar o melhor encurtador de links!!</p>
            <hr class="my-4">
            <p>Crie uma conta para aprovitar dos melhores recursos do nosso encurtador</p>
            <a class="btn btn-primary btn-lg" href="/registrar" role="button">Criar Conta</a>
            <small class=" mt-4">Mas vc tambem pode encurtar seus links sem criar conta! mas claro com suas desvantagems,  <a  href="/encurtar" role="text">clique e aproveite</a>  </small>
        </div>
    </main>
</div>