<h1>Registro de usuarío</h1>
<p>Ao se registrar voce pode ver seus links, gerenciar e ver acessos aos seus link encurtados!</p>
<h3>Registre-se agora</h3>

<div class="card">
    <div class="card-body">
        <form action="/register" method="POST" class="form-goup">
            <label for="name">Nome:</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="password">Senha:</label>
            <input type="password" name="password" >
            <input type="submit" value="Registrar">
        </form>
    </div>
</div>